In [32]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [33]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Georgetown,5.4112,100.3354,89.53,66,20,6.91,MY,2022-01-20 05:20:33
1,1,Ambilobe,-13.2000,49.0500,74.73,93,100,3.85,MG,2022-01-20 05:20:33
2,2,Lasa,46.6166,10.7002,31.30,93,73,7.34,IT,2022-01-20 05:20:34
3,3,Rikitea,-23.1203,-134.9692,78.06,78,100,17.47,PF,2022-01-20 05:19:19
4,4,Krasnyy Luch,48.1395,38.9371,5.18,97,74,3.58,UA,2022-01-20 05:20:34

In [34]:
# check types - data used for mapping in gmaps must be either int or float
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [35]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [36]:
# Get the maximum temperature (takes the diff b/w 0 & the temp -- if temp>0, temp; if temp<0, 0 -- neg temp will give error)
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [37]:
# Heatmap of temperature:

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [48]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Georgetown,5.4112,100.3354,89.53,66,20,6.91,MY,2022-01-20 05:20:33
3,3,Rikitea,-23.1203,-134.9692,78.06,78,100,17.47,PF,2022-01-20 05:19:19
9,9,Hervey Bay,-25.2986,152.8535,83.03,68,47,5.01,AU,2022-01-20 05:20:36
10,10,Hithadhoo,-0.6000,73.0833,81.70,73,100,7.25,MV,2022-01-20 05:20:36
14,14,Mahebourg,-20.4081,57.7000,86.29,74,40,11.50,MU,2022-01-20 05:20:37
18,18,Vaini,-21.2000,-175.2000,81.93,84,2,20.80,TO,2022-01-20 05:20:38
20,20,Sur,22.5667,59.5289,76.84,63,1,2.59,OM,2022-01-20 05:20:39
26,26,Hobart,-42.8794,147.3294,79.02,36,0,13.80,AU,2022-01-20 05:19:20
28,28,Kavaratti,10.5669,72.6420,81.61,61,91,8.39,IN,2022-01-20 05:20:41
29,29,Sungairaya,0.7000,108.9000,81.34,77,100,8.37,ID,2022-01-20 05:20:42

In [49]:
preferred_cities_df.count()

City_ID       130
City          130
Lat           130
Lng           130
Max Temp      130
Humidity      130
Cloudiness    130
Wind Speed    130
Country       130
Date          130
dtype: int64

In [51]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0   Georgetown      MY     89.53   5.4112  100.3354
3      Rikitea      PF     78.06 -23.1203 -134.9692
9   Hervey Bay      AU     83.03 -25.2986  152.8535
10   Hithadhoo      MV     81.70  -0.6000   73.0833
14   Mahebourg      MU     86.29 -20.4081   57.7000
18       Vaini      TO     81.93 -21.2000 -175.2000
20         Sur      OM     76.84  22.5667   59.5289
26      Hobart      AU     79.02 -42.8794  147.3294
28   Kavaratti      IN     81.61  10.5669   72.6420
29  Sungairaya      ID     81.34   0.7000  108.9000

In [52]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [55]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Georgetown,MY,89.53,5.4112,100.3354,Cititel Penang
3,Rikitea,PF,78.06,-23.1203,-134.9692,People ThankYou
9,Hervey Bay,AU,83.03,-25.2986,152.8535,Shelly Bay Resort
10,Hithadhoo,MV,81.70,-0.6000,73.0833,Scoop Guest House
14,Mahebourg,MU,86.29,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
18,Vaini,TO,81.93,-21.2000,-175.2000,Keleti Beach Resort
20,Sur,OM,76.84,22.5667,59.5289,Sur Plaza Hotel
26,Hobart,AU,79.02,-42.8794,147.3294,Mantra on Collins Hobart
28,Kavaratti,IN,81.61,10.5669,72.6420,Hotels in Lakshadweep Islands
29,Sungairaya,ID,81.34,0.7000,108.9000,Mess P.Milu

In [57]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [59]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))